<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

</head>
<body>






<div class="container-fluid" ng-controller="ClaimsCtrl">

<div class="row">

    <label class="col-xs-9 col-sm-9 col-md-12 col-lg-12" style=";font-size: 30px;text-align:center;display: block;">Open Claims</label>

    <div class="list-group col-xs-9 col-sm-9 col-md-1 col-lg-1" style="overflow: auto;max-height: 250px" >
        <div ng-repeat="calim in claimsArray">
            <button class="list-group-item" style="width: 150px" ng-click="claimClicked(calim.claimId)">{{calim.claimId}}</button>
        </div>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 claimsdata">


        <div>
            <label>Name:</label>
            <span style="display: inline-block">{{name}}</span>
        </div>

        <div style="margin-top: 20px">
            <label>Username:</label>
            <span>{{username}}</span>
        </div>

        <div style="margin-top: 20px">
            <a href="#">
                <img src="assets/img/phone.jpg" style="width: 30px;height: 30px">
            </a>
            <label>{{phoneNumber}}</label>

        </div>



        <div style="margin-top: 30px">
            <div style="margin-top: 10px">
                <input type="checkbox" autocomplete="off" ng-model="claimToInsurance"><span style="margin-left: 10px">Claim submitted to the insurance company</span>
            </div>

            <div  style="margin-top: 10px">
                <input type="checkbox" autocomplete="off" ng-model="towingTruckSent"><span style="margin-left: 10px">Towing truck sent to the employee's location</span>
            </div>

            <div  style="margin-top: 10px">
                <input type="checkbox" autocomplete="off"><span style="margin-left: 10px">Replacement car is sent to the employee's location</span>
            </div>

            <div  style="margin-top: 10px">
                <input type="checkbox" autocomplete="off"><span style="margin-left: 10px">Medical assistance sent to the employee's location</span>
            </div>
        </div>


        <div>
            <div class="btn-group" style="margin-left: auto;margin-right: auto;margin-top: 30px">
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1" autocomplete="off" ng-model="inProcess" ng-value="true"> In Process
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off" ng-model="completed" ng-value="true"> Completed
                </label>
            </div>
        </div>


        <button type="submit" class="btn btn-default" style="margin-top: 20px">Save</button>


    </div>





</div>

</div>










</body>
</html>