<div class="container" ng-controller="ReportingCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <h2 class="text-center header">Report Your Accident!</h2>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Driver Details</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fname" name="fname" ng-model="user.fname" type="text" placeholder="First Name" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="lname" name="lname"  ng-model="user.lname" type="text" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="email" name="email" ng-model="user.email" type="text" placeholder="Email Address" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="phone" name="phone" ng-model="user.phone" type="text" placeholder="Phone" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="col-md-12 col-md-offset-1 inner_text text-center">
                            Is that you?
                            <!--input class="switch-button" type="checkbox" checked data-on-color="success" data-off-color="danger" ng-model="injuried"-->
                            <input type="checkbox" ng-model="user.confirmed" bootstrap-switch checked data-on-color="success" data-off-color="danger" on-text="YES" off-text="NO">
                            <br/><br/>
                            <p class="{{{false:'fade in' , true : 'fade'}[user.confirmed]}}">Please <a href="/">login</a> Again</p>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Injuries</legend>
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-1 inner_text text-center">
                                Did anyone got injured?
                                <!--input class="switch-button" type="checkbox" checked data-on-color="success" data-off-color="danger" ng-model="injuried"-->
                                <input type="checkbox" ng-model="injuried" bootstrap-switch checked data-on-color="danger" data-off-color="success" on-text="YES" off-text="NO">
                                <br/><br/>
                                <p class="{{{true:'fade in' , false : 'fade'}[injuried]}}">Call <a type="button" class="btn btn-danger" href="tel:+100">100</a> For Police</p>
                                <p class="{{{true:'fade in' , false : 'fade'}[injuried]}}">Call <a type="button" class="btn btn-danger" href="tel:+101">101</a> For An Ambulans</p>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Your Location</div>
                    <div gmapsframe class="gmapsframe panel-body text-center"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Towing Service and Car Replacement</legend>
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-1 inner_text text-center">
                                Do you need a Towing Services?
                                <input type="checkbox" ng-model="towingTruckSent" bootstrap-switch checked data-on-color="success" data-off-color="danger" on-text="YES" off-text="NO">
                                <br/><br/>
                                Do you need a Car Replacement?
                                <input type="checkbox" ng-model="replacmentCarSent" bootstrap-switch checked data-on-color="success" data-off-color="danger" on-text="YES" off-text="NO">
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Take A Picture</div>
                    <camera>
                        <camera-control-snapshot></camera-control-snapshot>
                    </camera>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="submit()">Report</button>
                                <p class="{{{true:'fade in' , false : 'fade'}[submitSucceded]}} inner_text text-center">
                                    Your accident was successfully reported - help is on the way!
                                </p>
                                <p class="{{{true:'fade in' , false : 'fade'}[submitFalied]}} inner_text_alert text-center">
                                    Please check you inputs
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>